.propagate {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.propagate .toolbar {
  text-align: right;
  padding: 1em 0.5em;
  z-index: 1700;
  width: 50%;
  right: 0;
  position: fixed;
}

.propagate .toolbar img {
  margin: 0 0.5em;
}

.propagate .toolbar img:hover {
  filter: brightness(0.75);
}

.propagate .map-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.propagate .leafletmap {
  height: 100%;
}

@keyframes fall-down {
  0% {
    top: -50px;
  }

  100% {
    top: 50px;
  }
}


.propagate .buttons-bar {
  text-align: left;
  z-index: 1800;
  position: fixed;
  width: 62.5%;
  right: 0;
  top: 50px;
  animation: fall-down 0.5s ease;
}

.propagate .buttons-bar button {
  width: 40%;
  padding: 0.8em 10%;
  border-radius: 3px;
  border: 0;
  background-color: #00938B;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.propagate .gps-searching {
  animation: spin 4s linear infinite;
}

@keyframes fade-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.propagate .leaflet-pane .leaflet-marker-pane > * {
  animation: fade-up 0.5s ease;
}


.propagate .loader {
  position: absolute;
  top: 45%;
  left: 45%;
  height: 10%;
  width: 10%;
  z-index: 1200;
}
