.settings .logo {
  width: 175px;
  margin: 2em auto 1em auto;
  display: block;
}

.settings .toolbar {
  display: flex;
  justify-content: space-between;
}

.settings .toolbar img:hover {
  filter: brightness(0.75);
}

.settings .form {
  margin: 5em auto 2em auto;
  width: 295px;
}

.settings .form label {
  display: block;
  margin-bottom: 1em;
}

.settings .form input {
  width: 210px;
  border-radius: 4px;
  padding: 0.8em;
  border: 1px solid gray;
}

.settings .form button {
  margin-left: 10px;
  padding: 0.8em 1em;
  border-radius: 4px;
  border: 0;
  background-color: #00938B;
  color: white;
  font-weight: bold;
}

.react-confirm-alert {
  max-width: 400px;
}

.react-confirm-alert .react-confirm-alert-body {
  font-family: 'News Cycle', sans-serif;
  width: inherit;
}

.react-confirm-alert .react-confirm-alert-button-group button {
  background-color: #00938B;
  border-radius: 4px;
  font-weight: bold;
}
